#stats {
  width: 100px;
  height: 100px;
  position: relative;
}

.circle {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
}

.circle#men {
  background: #27ae60;
}

.circle#women {
  background: #f26646;
}

.small-circle {
  border-radius: 100px;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
